*{
	padding:0px;
	margin:0px;
	
}



.header{
	background-color:black;
	color:white;
	padding:10px;
}
h1{
	display:inline;
	
}
li{
	display:inline;
	margin-right:10px;
	
}
li:hover{
	color:yellow;
}
ul{
	display:inline;
	margin-left:80%;
	
	
}
input{
	width:60%;
	padding:15px;
	border-color:black;
	border-style:solid;
	
}
h2{
	margin-top:20px;
}
.searchbar{
	padding:15px;
	text-align:center;
	margin-top:20px;
	
}
.box{
	border-color:black;
	border-style:solid;
	display:inline-block;
	margin-top:20px;
	width:220px;
	margin-left:25px;
	text-align:center;
}
.box:hover{
	background-color:black;
	color:yellow;
}
.products{
	text-align:center
	
}
.about{
	text-align:center;
	margin-top:20px;
	margin-bottom:20px;
	padding:20px;
}
.contact{
	background-color:black;
	color:white;
	text-align:center;
	padding:30px;
}